

<div class='container'>
<a href="/auth/google"><img class="goog-login" src="../public/img/btn_google_signin_light_disabled_web.png"></img></a>
  <div class="userInput">
    <img ng-src={{movies}}></img>
    <p>Type in a movie that you enjoyed recently!</p>
    <input type="text" ng-model='search'>
    <button ng-click="searchMovies()" class="btn btn-lg btn-primary not-orange">SEARCH</button>
    <br><br>
    <button ng-click="addMovieToLibrary()" class="btn btn-sm btn-primary not-orange">Add to Library</button>
  </div>
</div>
