<!-- Page Content -->
<div class='container'>
  <div class="userInput">
    <p>Add a Movie to Your Library</p>
    <input type="text" ng-model='search'>
    <button ng-click="searchMovies()" class="btn btn-lg btn-primary not-orange">SEARCH</button>
    <br><br>
    <img class="first-movie" ng-src={{movie.image}}></img>
    <p>{{movie.title}}</p>
    <button ng-click="addMovieToLibrary(); showLibrary()" class="btn btn-lg btn-primary not-orange">Add to Library</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div ng-repeat="movie in movieLibrary" class="col-xs-3">
    <img class="image-size" src={{movie.image}}></img>
    <div>
      <p>Title: {{movie.title}} <br>
        Release Date: {{movie.year}} <br>
        Rated: {{movie.rated}}</p>
        <button ng-click='deleteMovie(); showLibrary()'class="btn btn-sm btn-default">Delete</button>
        <button class="btn btn-sm btn-default">Edit</button>
      </div>
    </div>
  </div>
