body {
  background-image:url('../img/dark_embroidery.png');
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image-size{
  width: 180px;
  height: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px 5px;
  border-radius: 16px;

}

.container{
  background-image:url('../img/dark_embroidery.png');
}
.goog-login {
  float:right;
}
.userInput {
  margin-top: 100px;
}

.search-box{
  width:40%;
  margin-right: 200px;
}

.search-movie{
  postion: relative;
}
.navbar {
  background-image: url('../img/dark_embroidery.png');
}

.not-orange {
  background-image: url('../img/dark_embroidery.png';
}
