body {
  background-image:url('../img/dark_embroidery.png');
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: grey;
}

.image-size {
  width: 180px;
  height: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px 5px;
  border-radius: 16px;
  color: white;
  overflow: scroll;
}

.first-movie {
    border-radius: 16px;
}

.single-picture {
  width: 180px;
  height: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px 5px;
}

.signout {
  float:right;
  height: 30px;
  margin-left:150px;
  margin-bottom: 5px;

}
.login {
  float:right;
  width: 130px;
  height: 30px;
  margin-left: 150px;
  margin-bottom: 5px;
}

.container{
  background-image:url('../img/dark_embroidery.png');
}

.userInput {
  margin-top: 100px;
}

.search-box{
  width:40%;
  margin-right: 200px;
}

.navbar {
  background-image: url('../img/dark_embroidery.png');
}
